asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
decorator==5.1.1
executing==1.2.0
ipython==8.10.0
jedi==0.18.2
matplotlib-inline==0.1.6
numpy==1.24.2
pandas==1.5.3
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.37
pure-eval==0.2.2
Pygments==2.14.0
python-dateutil==2.8.2
pytz==2022.7.1
rdkit==2022.9.4
six==1.16.0
stack-data==0.6.2
traitlets==5.9.0
wcwidth==0.2.6
